body {
    font-family:Arial, Helvetica, monospace;
}
table{
    width: 100%;
}

.titles{
    display:flex;
    justify-content:center;
    align-items:center;
    color: #333;
    text-shadow: 4px 2px 5px white;
    font-size: xx-large;
}

.titlecontain{
    position: center;
    margin: 50px;
    padding: 10%;
    width: auto;
}

.bg-img {
    /* The image used */
    background-image: url("images/beach.png");

    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

.bg-img2 {
    /* The image used */
    background-image: url("images/green.png");

    min-height: 180px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

.space {
    height: 60%;
    margin: 10%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}
/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.bottom {
    display:flex;
    justify-content:center;
    align-items:center;
    color: #333;
    text-shadow: 4px 2px 5px white;
    font-size: large;
}
.bottomcontain{
    position: center;
    margin: 50px;
    padding: 5%;
    width: auto;
}